body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Stag-Light';
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'StagSans-Light';
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'StagSans-Medium';
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'StagSans-Light';
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'StagSans-Light';
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #f47321 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #005030 !important;
}
.bg-warning {
  background-color: #95a1aa !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f47321;
  border-color: #f47321;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #bf5009;
  border-color: #bf5009;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #bf5009 !important;
  border-color: #bf5009 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #a2ad00;
  border-color: #a2ad00;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #5a6100;
  border-color: #5a6100;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #5a6100 !important;
  border-color: #5a6100 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #005030;
  border-color: #005030;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #000402;
  border-color: #000402;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000402 !important;
  border-color: #000402 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #95a1aa;
  border-color: #95a1aa;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #6c7b87;
  border-color: #6c7b87;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #6c7b87 !important;
  border-color: #6c7b87 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #a74608;
  color: #a74608;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #f47321;
  border-color: #f47321;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f47321 !important;
  border-color: #f47321 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #424700;
  color: #424700;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #a2ad00;
  border-color: #a2ad00;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #a2ad00 !important;
  border-color: #a2ad00 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #005030;
  border-color: #005030;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #005030 !important;
  border-color: #005030 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #616e78;
  color: #616e78;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #95a1aa;
  border-color: #95a1aa;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #95a1aa !important;
  border-color: #95a1aa !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f47321 !important;
}
.text-secondary {
  color: #a2ad00 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #005030 !important;
}
.text-warning {
  color: #95a1aa !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #a74608 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #424700 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #616e78 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #005030;
}
.alert-warning {
  background-color: #95a1aa;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f47321;
  border-color: #f47321;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f47321;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #feeee3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #37ffaf;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #dce0e3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'StagSans-Light';
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #f47321;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #f47321;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #f47321;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f47321;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f47321;
}
/* Headers*/
.cid-qt3PiEINcN .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qt3PiEINcN .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qt3PiEINcN a {
  font-style: normal;
}
.cid-qt3PiEINcN .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qt3PiEINcN .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qt3PiEINcN .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qt3PiEINcN .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qt3PiEINcN .menu-logo {
  margin-right: auto;
}
.cid-qt3PiEINcN .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qt3PiEINcN .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qt3PiEINcN .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qt3PiEINcN .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qt3PiEINcN .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qt3PiEINcN .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qt3PiEINcN .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qt3PiEINcN .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qt3PiEINcN .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qt3PiEINcN .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qt3PiEINcN .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qt3PiEINcN .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qt3PiEINcN .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qt3PiEINcN .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qt3PiEINcN .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qt3PiEINcN .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qt3PiEINcN .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qt3PiEINcN .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qt3PiEINcN .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qt3PiEINcN .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qt3PiEINcN .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qt3PiEINcN .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qt3PiEINcN button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qt3PiEINcN button.navbar-toggler:focus {
  outline: none;
}
.cid-qt3PiEINcN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qt3PiEINcN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qt3PiEINcN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qt3PiEINcN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qt3PiEINcN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qt3PiEINcN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qt3PiEINcN nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qt3PiEINcN nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qt3PiEINcN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qt3PiEINcN .collapsed .btn {
  display: flex;
}
.cid-qt3PiEINcN .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qt3PiEINcN .collapsed .navbar-collapse.collapsing,
.cid-qt3PiEINcN .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qt3PiEINcN .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qt3PiEINcN .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qt3PiEINcN .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qt3PiEINcN .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qt3PiEINcN .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qt3PiEINcN .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qt3PiEINcN .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qt3PiEINcN .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qt3PiEINcN .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qt3PiEINcN .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qt3PiEINcN .collapsed button.navbar-toggler {
  display: block;
}
.cid-qt3PiEINcN .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qt3PiEINcN .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qt3PiEINcN .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qt3PiEINcN .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qt3PiEINcN .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qt3PiEINcN .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qt3PiEINcN img {
    height: 3.8rem !important;
  }
  .cid-qt3PiEINcN .btn {
    display: flex;
  }
  .cid-qt3PiEINcN button.navbar-toggler {
    display: block;
  }
  .cid-qt3PiEINcN .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qt3PiEINcN .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qt3PiEINcN .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qt3PiEINcN .navbar-collapse.collapsing,
  .cid-qt3PiEINcN .navbar-collapse.show {
    display: block !important;
  }
  .cid-qt3PiEINcN .navbar-collapse.collapsing .navbar-nav,
  .cid-qt3PiEINcN .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qt3PiEINcN .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qt3PiEINcN .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qt3PiEINcN .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qt3PiEINcN .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qt3PiEINcN .navbar-collapse.collapsing .navbar-buttons,
  .cid-qt3PiEINcN .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qt3PiEINcN .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qt3PiEINcN .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qt3PiEINcN .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qt3PiEINcN .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qt3PiEINcN .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qt3PiEINcN .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qsWs7R168F {
  background-image: url("../../../assets/images/shutterstock-2000x1269.jpg");
}
.cid-qsWsOalRdD {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-qsWsOalRdD h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qsWsOalRdD p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qsWsOalRdD .card-img {
  text-align: left;
  background-color: #fff;
  padding: 3rem 2.5rem 0 2.5rem;
}
.cid-qsWsOalRdD .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qsWsOalRdD .card-box {
  padding: 0rem 2.5rem 3rem 2.5rem;
  background-color: #fff;
}
.cid-qsWtqcBibk {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qsWtqcBibk .card-img a {
  display: block;
  padding-top: 2rem;
}
.cid-qsWtqcBibk .card-box {
  padding: 0 2rem;
}
.cid-qsWtqcBibk .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qsWtqcBibk .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qsWtqcBibk h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-qsWtqcBibk p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-qsWtqcBibk .mbr-text {
  color: #767676;
}
.cid-qsWtqcBibk .card-wrapper {
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qsWtqcBibk .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qsWtqcBibk .card-title {
  text-align: center;
}
.cid-qsWu711K66 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/events-1400x933.jpg");
}
.cid-qsWu711K66 .mbr-section-subtitle {
  color: #767676;
}
.cid-qsWu711K66 .btn {
  margin: 0 0 .5rem 0;
}
.cid-qsWuiqlaRe {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qsWuiqlaRe h3 {
  text-align: center;
}
.cid-qsWuiqlaRe .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-qsWuiqlaRe .mbr-content-text {
  color: #767676;
}
.cid-qsWuiqlaRe .panel-item {
  background: #ffffff;
}
.cid-qsWuiqlaRe .card {
  word-wrap: break-word;
}
.cid-qsWuiqlaRe .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-qt83cfIEKy {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qt83cfIEKy .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qt83cfIEKy .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qt83cfIEKy .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qt83cfIEKy .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qt83cfIEKy .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qt83cfIEKy .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(to left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qsWwEk4CmK {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qsWwEk4CmK .mbr-section-subtitle {
  color: #767676;
}
.cid-qsWwKdtk5u {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qsWwKdtk5u h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qsWwKdtk5u p {
  color: #767676;
  text-align: left;
}
.cid-qsWwKdtk5u .card-box {
  padding-top: 2rem;
}
.cid-qsWxcnhBBd {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qsWxcnhBBd h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qsWxcnhBBd p {
  color: #767676;
  text-align: left;
}
.cid-qsWxcnhBBd .card-box {
  padding-top: 2rem;
}
.cid-qt3EyxNur8 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qt3EyxNur8 .mbr-text,
.cid-qt3EyxNur8 blockquote {
  color: #767676;
}
.cid-qt3EyxNur8 P {
  text-align: left;
  color: #232323;
}
.cid-qsWzrG6PZw {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/obs-1400x933.jpg");
}
.cid-qsWzrG6PZw .mbr-section-subtitle {
  color: #767676;
}
.cid-qsWzrG6PZw .btn {
  margin: 0 0 .5rem 0;
}
.cid-qsXegIlU5q {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qsXegIlU5q h2 {
  text-align: center;
}
.cid-qsXegIlU5q h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qsXegIlU5q p {
  color: #767676;
}
.cid-qsXegIlU5q .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-qsXegIlU5q .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-qsXegIlU5q .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-qsXegIlU5q .mbr-section-subtitle {
  color: #767676;
}
.cid-qsXegIlU5q .card-title {
  font-weight: 500;
}
.cid-qsXegIlU5q .card-img {
  text-align: inherit;
}
.cid-qsXegIlU5q .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-qsXegIlU5q .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-qsXegIlU5q .mbr-figure {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qsXegIlU5q .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .cid-qsXegIlU5q .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-qsXegIlU5q .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
}
.cid-qsXfEOzvLb {
  padding-top: 45px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
@media (min-width: 992px) {
  .cid-qsXfEOzvLb .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qsXfEOzvLb .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-qsXfEOzvLb .mbr-text,
.cid-qsXfEOzvLb .mbr-section-btn {
  color: #232323;
}
.cid-qsXfEOzvLb .mbr-section-title {
  color: #232323;
}
.cid-qsXjslepkt {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qsXjslepkt .mbr-section-subtitle {
  color: #767676;
}
.cid-qsXj8kiQDg {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qsXj8kiQDg h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qsXj8kiQDg p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qsXj8kiQDg .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cid-qsXj8kiQDg .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-qsXj8kiQDg .card-box {
  padding-left: 1rem;
}
@media (max-width: 991px) {
  .cid-qsXj8kiQDg .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qsXj8kiQDg .card-box {
    padding-left: 0;
  }
}
.cid-qsYfqGpNTf {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qsYfqGpNTf .mbr-section-subtitle {
  color: #767676;
}
.cid-qsXkx9Y0QJ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/shutterstock-2000x1269.jpg");
}
.cid-qsXkx9Y0QJ .mbr-section-subtitle {
  color: #767676;
}
.cid-qsXkx9Y0QJ .btn {
  margin: 0 0 .5rem 0;
}
.cid-qt2PXgAEHK {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f9f9f9;
  background: linear-gradient(45deg, #f9f9f9, #ffffff);
}
@media (min-width: 992px) {
  .cid-qt2PXgAEHK .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qt2PXgAEHK .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-qt2PXgAEHK .mbr-text {
    text-align: center;
  }
}
.cid-qt2PXgAEHK H1 {
  color: #232323;
}
.cid-qt2PXgAEHK .mbr-text,
.cid-qt2PXgAEHK .mbr-section-btn {
  color: #232323;
}
.cid-qt2PhwYFEA {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-qt2PhwYFEA h3 {
  text-align: center;
}
.cid-qt2PhwYFEA .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-qt2PhwYFEA .mbr-content-text {
  color: #767676;
}
.cid-qt2PhwYFEA .panel-item {
  background: #ffffff;
}
.cid-qt2PhwYFEA .card {
  word-wrap: break-word;
}
.cid-qt2PhwYFEA .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-qt8yaiT7Et {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-qt2YPktjGW {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qt2YPktjGW .testimonials-container {
  margin: 0 auto;
}
.cid-qt2YPktjGW .testimonials-container .testimonials-item {
  justify-content: center;
  margin-top: 3rem;
}
.cid-qt2YPktjGW .testimonials-container .testimonials-item .user {
  background: #efefef;
}
.cid-qt2YPktjGW .testimonials-container .testimonials-item .user.row {
  margin: 0;
}
.cid-qt2YPktjGW .testimonials-container .testimonials-item .user .user_image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
}
.cid-qt2YPktjGW .testimonials-container .testimonials-item .user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qt2YPktjGW .testimonials-container .testimonials-item .user .testimonials-caption {
  padding: 2rem;
  padding: 2rem 2rem 2rem 0;
}
@media (max-width: 260px) {
  .cid-qt2YPktjGW .user_image {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .cid-qt2YPktjGW .testimonials-caption {
    padding: 0 2rem 2rem 2rem !important;
  }
}
.cid-qt2YPktjGW .mbr-section-subtitle {
  color: #465052;
}
.cid-qt2YPktjGW H2 {
  color: #232323;
}
.cid-qt3AZQw9XG {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-qt3AZQw9XG .mbr-section-subtitle {
  color: #767676;
}
.cid-qt9rVb0RgN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
@media (min-width: 992px) {
  .cid-qt9rVb0RgN .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qt9rVb0RgN .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-qt9rVb0RgN .mbr-text {
  color: #767676;
}
.cid-qt3C7W3Gd4 {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-qt3C7W3Gd4 .counter-container {
  color: #767676;
}
.cid-qt3C7W3Gd4 .counter-container ul {
  margin-bottom: 0;
}
.cid-qt3C7W3Gd4 .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
}
.cid-qt3C7W3Gd4 .counter-container ul li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #a2ad00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-qt8VXfwHnk {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qt8VXfwHnk .mbr-section-subtitle {
  color: #767676;
}
.cid-qt8WoFRSFz {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-qt8WoFRSFz .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qt8WoFRSFz .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-qt8WoFRSFz .mbr-text {
  color: #767676;
}
.cid-qt8X3MU2So {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qt8X3MU2So .mbr-text,
.cid-qt8X3MU2So blockquote {
  color: #767676;
}
.cid-qt8Vcfk8KJ {
  padding-top: 0px;
  padding-bottom: 60px;
  background: #ffffff;
}
.cid-qt8Vcfk8KJ .image-block {
  margin: auto;
}
.cid-qt8Vcfk8KJ figcaption {
  position: relative;
}
.cid-qt8Vcfk8KJ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qt8Vcfk8KJ .image-block {
    width: 100% !important;
  }
}
.cid-qt9JnTr753 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-qt9JnTr753 .mbr-section-subtitle {
  color: #767676;
}
.cid-qt9KAUW0uc {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qt9KAUW0uc .card-img {
  background-color: #fff;
}
.cid-qt9KAUW0uc .card-img a {
  display: block;
  padding-top: 2rem;
}
.cid-qt9KAUW0uc .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-qt9KAUW0uc h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qt9KAUW0uc p {
  text-align: left;
}
.cid-qt9KAUW0uc .mbr-text {
  color: #767676;
}
.cid-qt9KAUW0uc .card-wrapper {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qt9KAUW0uc .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-qt9KAUW0uc .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-qt3b3kDTh0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1618x1080.jpg");
}
.cid-qt3b3kDTh0 .mbr-section-subtitle {
  color: #767676;
}
.cid-qt3b3kDTh0 .btn {
  margin: 0 0 .5rem 0;
}
.cid-qt3wHIF0Mf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  position: relative;
}
.cid-qt3wHIF0Mf p {
  color: #767676;
}
.cid-qt3wHIF0Mf .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-qt3wHIF0Mf .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-qt3wHIF0Mf .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-weight: 500;
  font-style: normal;
  display: block;
  text-decoration: none !important;
  line-height: normal;
}
.cid-qt3wHIF0Mf .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-qt3wHIF0Mf .card .card-header a.panel-title h4 {
  border: 1px solid #dfdfdf;
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-qt3wHIF0Mf .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-qt3x9kiphB {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1620x1080.jpg");
}
.cid-qt3x9kiphB .mbr-section-subtitle {
  color: #767676;
}
.cid-qt3x9kiphB .btn {
  margin: 0 0 .5rem 0;
}
.cid-qt3y2pyWED {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qt3y2pyWED .line {
  background-color: #f47321;
  color: #f47321;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qt3y2pyWED .section-text {
  padding: 2rem 0;
}
.cid-qt3y2pyWED .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qt3y2pyWED .inner-container {
    width: 100% !important;
  }
}
.cid-qt9UnKSrkW {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qt9UnKSrkW .mbr-section-subtitle {
  color: #767676;
}
.cid-qt3ysmjbVU {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #005030;
}
