@font-face {
   font-family: 'Stag-Light';
   src: url('Stag-Light/font.ttf');
}
@font-face {
   font-family: 'StagSans-Light';
   src: url('StagSans-Light/font.ttf');
}
@font-face {
   font-family: 'StagSans-Medium';
   src: url('StagSans-Medium/font.ttf');
}
